modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_hO93TBnULcRk@ep-wispy-hall-at9xf19a-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5050
externalPort = 3000

[[ports]]
localPort = 5051
externalPort = 3001

[[ports]]
localPort = 5052
externalPort = 3002

[[ports]]
localPort = 5060
externalPort = 3003

[[ports]]
localPort = 5062
externalPort = 4200

[[ports]]
localPort = 5070
externalPort = 5000
